@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>This is Post Reader.This site was crated especialy for new technology learning purpose.I try to use new frameworks and so on.</p>
<p>Post Reader allows you to accumulate all your new in one place.</p>
<p>You can read  new from several popular social resources in one site.Also you can save news and read them later! </p>
